* {
  box-sizing: border-box;
  font-family: 'Lemonada', cursive;
}

:root {
  --primary: #2A7AE4;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
  --red: #ffbc00;
  --orange: #f6bc41;
  --wine: #5d0202;
  --nova: rgb(228, 102, 42)
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
} 

h3 {
  background-color: #ffbc00;
}

#root {
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}
